<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seoul.infra.modules.exchange.mapper.ExchMapper">

	<resultMap id="exchDto" type="com.seoul.infra.modules.exchange.dto.ExchDTO"></resultMap>
	
	<select id="userBalance" resultMap="exchDto">
		select
			m.memberSeq
			,e.cryptoSeq
			,m.idTokenKko
			,e.amount 
		from exchangeBalance e left join member m  
			on e.memberSeq = m.memberSeq
		where 1=1 
		and idTokenKko = #{idTokenKko}
		and cryptoSeq = #{cryptoSeq}
	</select>
	
	<select id="getOnlaodInfo"  resultMap="exchDto">
		select
			cryptoSeq
		from crypto
		where cryptoSym = #{cryptoSym}
	</select>
	
	
	
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@ submit orders  start @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 -->
	
	<insert id="submitBids">
		insert into orderBook(
			price
			,obAmount
			,submittedBy
			,submittedCrypto
			,orderType
			,bos
			,timestamp
			
		)
		values(
			#{price}
			,#{obAmount}
			,#{memberSeq}
			,#{cryptoSeq}
			,#{orderType}
			,0
			,now()
		)
	</insert>
	
	<insert id="submitAsks">
		insert into orderBook(
			price
			,obAmount
			,submittedBy
			,submittedCrypto
			,orderType
			,bos
			,timestamp
			
		)
		values(
			#{price}
			,#{obAmount}
			,#{memberSeq}
			,#{cryptoSeq}
			,#{orderType}
			,1
			,now()
		)
	</insert>
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@ submit orders  end @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 -->
</mapper>