@font-face{
   font-family:"nt";
   font-style:normal;
   src:url(../font/notosans/NotoSansKR-Medium.otf) format('opentype');
}


*{
	box-sizing:border-box;
	/* padding 으로 사이즈 늘어남 방지 */
}

ul{
	list-style:none;
}


html, body{
	padding:10px;
	margin:0;
	font-size:14px;
	background:#fff;
	font-family:nt;
}

.body-wrapper{
	width:100%;
	height:100%;
	display:flex;
	background:#eaebf0;
	border-radius:8px;
	box-shadow: 6px 6px 12px -5px rgb(88 88 88);
}

.left-wrapper {
	width: 400px;
	height:100%;
	padding:10px;
	
}

.left {
  width:300px;
  height:100%;
  background:#fff;
  border-radius:8px;
}

.left-navi {
	padding: 0px 10px 0 15;
}

.left-navi-header {
	height:150px;
	width:100%;
}

.header-nav {
	display:flex;
	align-items:center;
	margin-top:10px;
}

.logo {
	font-size: 25px;
    background: #173482;
    width: 100%;
    height: 100px;
    border-radius: 8px 8px 0 0;
    margin: 0 0 10px 0;
    padding: 30;
    color:#fff;
    box-shadow: 2px 6px 12px -5px rgb(88 88 88);
}

.btw-border {
	color:#999999;
}

.right-wrapper {
	width:100%;
	height:100%;
	padding:10px;

}



.accordion-item {
	border:none
}

.accordion-body-menue {
	margin:4px 0;
	cursor:pointer;
}



.accordion-body-menue:hover {
	background:#eaeaef;
}

.right {
  width:100%;
  height:100%;
  background:#fff;
  border-radius:8px;
}

.search-bar {
	width:100%;
	height:100px;
	padding:0 20px;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar-title {
	font-size: 25px;
}

.head-box {
	width:100%;
	height:131px;
}

.logo-box {
	/* background:#173482; */
	width:100%;
	height:100px;
	border-radius:8px 8px 0 0 ;
	background: rgb(23,52,130);
background: linear-gradient(90deg, rgba(23,52,130,1) 48%, rgba(2,0,36,1) 100%);
box-shadow: 2px 6px 12px -5px rgb(88 88 88);
}



.form-control {
	width:150px;
	margin:0 10px 0 0 ;
}
.form-select {
	width:150px;
}

.form-box {
	display:flex;
	justify-content:right;
	margin:5px;
	align-items:center;
}


.info_list_tb {
	margin-top:10px;
	padding: 0 10px;
}

.paging{
	width: 100%;
	height:35px;
	display:flex;
	justify-content:center;
}