<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.seoul.infra.modules.codegroup.CodeGroupMapper">
									
    <resultMap id="resultMapObj" type="com.seoul.infra.modules.codegroup.CodeGroup"></resultMap>
    <resultMap id="resultMapObjcc" type="com.seoul.infra.modules.codegroup.CommonCodeGroup"></resultMap>
	
	<select id="selectCList" resultMap="resultMapObj">
		select * from infrCg
		where 1=1
		<choose>
			<when test="shOption == 1">and infrCgUseNy = #{shValue}</when>
		</choose>
		order by infrCgSeq
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="selectCgList">
		select 
		  infrCgSeq
		  ,infrCgName
		  ,infrCgNameEng
		  ,infrCgUseNy
		  ,infrCgDelNy
		  ,(select count(*) infrCcgs from (select b.infrCcgSeq from infrCcg b where b.infrCgSeqFk = infrCgSeq)a)
		  ,cg.regDateAt
		  ,cg.regDateBy
		  ,cg.modDateAt
		  ,cg.modDateBy
		from infrcg cg left join infrCcg ccg 
		  on cg.infrCgSeq = ccg.infrCgSeqFk;
		  where 1=1
		<choose>
			<when test="shOption == 1">and infrCgUseNy = #{shValue}</when>
		</choose>
		order by infrCgSeq
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	
	<select id="selectCcgList">
	select 
	  infrCcgSeq
	  ,infrCcgTypeNum
	  ,infrCcgName
	  ,infrCcgNameEng
	  ,infrCgSeq
	  ,infrCgName
	  ,infrCgNameEng
	  ,ccg.infrCcgUseNy
	  ,ccg.infrCcgDelNy
	  ,ccg.regDateAt
	  ,ccg.regDateBy
	  ,ccg.modDateAt
	  ,ccg.modDateBy
	from infrcg cg left join infrCcg ccg 
	  on cg.infrCgSeq = ccg.infrCgSeqFk;
	</select>
	
	<select id="selectOneCnt" resultType="Integer">
		select count(*) from infrCg
	</select>
	
	
	
	<select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT
			infrCgSeq
			, infrCcgSeq
			, infrCcgName
			, infrCcgNameEng
			, infrCgSeqFk
			, infrCcgTypeNum
		FROM
			infrCcg a left join infrCg b
		on a.infrCgSeqFk = b.infrCgSeq
		WHERE 1=1
			AND infrccgDelNy = 1
		    AND infrccgUseNy = 1
    </select>

</mapper>